<div class="wrapper">
  <div class="main">
    <%= render 'header' %>
      <div class="success-container">   
        <div class="success">
          <h3>
            投稿が完了しました。
          </h3>
        </div>
      </div>
  </div>
</div>