// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.wrapper{
  font-family: Georgia,sans-serif;
  height: 100vh;
  .main{
    .header{
      .header-title{
        padding-top:30px;
        text-align: center;
        background-color: white;
        .title_logo{
          color: black;
          font-size: 40px;
          text-decoration: none;
          font-weight:bold;
        }
      }
    }
      .header_menu{
        padding-bottom: 20px;
        .header_menu-list{
          background-color:white;
          height: 50px;
          width: 100%;
          ul{
            display: table;
            table-layout: fixed;
            text-align: center;
            width: 100%;
            li{
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              line-height: 50px;
              a{
                text-decoration: none;
                color: black;
                display: inline-block;
                transition: .3s;
                -webkit-transform: scale(1);
                transform: scale(1);
              }
              a:hover {
                -webkit-transform: scale(1.2);
                transform: scale(1.4);
                font-weight: bold;
              }
            }
          }
        }
      }
    .main-container{
      .ranking-container{
        width: 100%;
        height: 580px;
        background-color: gray;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        .ranking_post{
          background-color: gray;
          height: 100%;
          padding: 0px auto;
          display: inline;
          .ranking_order{
            width: 100%;
            color:white;
            margin: 10px 5px auto;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            .fas{
              color: goldenrod;
              font-size: 25px;
            }
          }
          .post-image{
            padding-bottom: 5px;
            img{
              margin: 0 auto;
              border-radius: 10px;
            }
          }
          .like-btn{
            display: flex;
            justify-content: center;
            height: 30px;
            .fas{
              display: block;
              color: red;
              text-align: center;
              font-size: 20px;
              padding: 5px;
            }
            h3{
              color: white;
              line-height: 30px;
            }
          }
        }
      }
      .ranking-more-button{
        margin:10px auto;
        width:100px;
        font-size:8x;
        text-decoration:none;
        display:block;
        text-align:center;
        padding:3px 0 5px;
        color:#fff;
        background-color:gray;
        border-radius:5px;
      }
      .ranking-more-button:hover{
        color: #fff;
        background-color: darkgray;
        -webkit-transform: scale(1.1);
        transform: scale(1.2);
      }
      .slick-arrow{
        color: white;
        font-size: 50px;
      } 
      .fas.fa-angle-double-left{
        position: absolute;
        left: 10px;
        top: 290px;
        z-index: 1;
      }
      .fas.fa-angle-double-right{
        position: absolute;
        right: 10px;
        top: 290px;
        z-index: 1;
      }
    }
  }
}

//ここからslick
.ranking_post.slick-slide:not(.slick-center) {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.85);
}

/*all spans have to be block or inline block to transform*/
.title_logo span{
  display: inline-block;
}

/*When JS finds a space, it replaces it with a span with .space class*/
/*I did this so you can do stuff with the spaces if you want.*/
.space{
  width: 15px;
}


/*These classes are added to each letter/span using JS so they animate*/
.effect1{
  animation: zoom 6s linear infinite;
  -webkit-animation: zoom 6s linear infinite;
}
.effect2{
  animation: bounce 3s linear infinite;
  -webkit-animation: bounce 3s linear infinite;
}
.effect3{
  animation: squash 2s linear infinite;
  -webkit-animation: squash 2s linear infinite;   
}
.effect4{
  animation: rot 5s linear infinite;
  -webkit-animation: rot 5s linear infinite;
}
.effect5{
  animation: fade2 4s linear infinite;
  -webkit-animation: fade2 4s linear infinite;
}




/*Here's a bunch of animations*/

@keyframes zoom{
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}
@-webkit-keyframes zoom{
  0%{-webkit-transform: scale(1);}
  50%{-webkit-transform: scale(1.1);}
  100%{-webkit-transform: scale(1);}
}

@keyframes bounce{
  0%{transform: translateY(0px);}
  50%{transform: translateY(1px);}
  100%{transform: translateY(0px);}
}
@-webkit-keyframes bounce{
  0%{-webkit-transform: translateY(0px);}
  50%{-webkit-transform: translateY(1px);}
  100%{-webkit-transform: translateY(0px);}
}

@keyframes squash{
  0%{transform:scale(1,1);}
  50%{transform:scale(1,1.2);}
  100%{transform:scale(1,1);}
}
@-webkit-keyframes squash{
  0%{-webkit-transform:scale(1,1);}
  50%{-webkit-transform:scale(1,1.2);}
  100%{-webkit-transform:scale(1,1);}
}

@keyframes rot{
  0%{transform: rotate(9deg);}
  50%{transform: rotate(-9deg);}
  100%{transform: rotate(9deg);}
}
@-webkit-keyframes rot{
  0%{-webkit-transform: rotate(9deg);}
  50%{-webkit-transform: rotate(-9deg);}
  100%{-webkit-transform: rotate(9deg);}
}

@keyframes fade2{
  0%{
      transform: scale(.8);
      opacity: .7;
  }
  50%{
      transform: scale(1);
      opacity: 1;
  }
  100%{
      transform: scale(.8);
      opacity: .7;
  }
}
@-webkit-keyframes fade2{
  0%{
      -webkit-transform: scale(.8);
      opacity: .7;
  }
  50%{
      -webkit-transform: scale(1);
      opacity: 1;
  }
  100%{
      -webkit-transform: scale(.8);
      opacity: .7;
  }
}