.items-container{
  width: 950px;
  margin: 0px auto; 
  display: flex;
  flex-wrap: wrap;
  .item-container{
    border: solid 1px gray;
    width: 250px;
    margin: 40px auto;
    position: relative;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    .item-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin-top: 20px;
      }
    }
    .item-design{
      text-align: center;
    }
    .item-like-btn{
      text-align: center;
      margin-bottom: 5px;
      .fas{
        color: red;
      }
    }
  }
  .item-container.active {
    opacity: 1;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .item-container:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
}


.pagination-bar{
  .pagination{
    text-align: center;
    margin: 0px auto 20px auto;
    span{
      a{
        text-decoration: none;
        font-size: 15px;
        color: gray;
      }
    }
  }
}